```svelte
<script>
	import { fly } from 'svelte/transition'
	import Notification from './Notification.svelte'
	import Smurfs from './Smurfs.svelte'
</script>

<Notification>

	<div in:fly={{ x: 500 }} slot="notification" class="notification" let:hide let:payload>
		<button on:click={hide}>&times;</button>
		<span>{payload}</span>
	</div>
	
</Notification>

<Smurfs />
```