```svelte
<script context="module">
	import { writable } from 'svelte/store'
	
	let payload = writable(false)
	const hide = () => payload.set(false)
	export const show = val => payload.set(val)	
</script>

{#if $payload}
	<slot name="notification" {hide} payload={$payload} />
{/if}
```