```svelte
<script>
	import { fly } from 'svelte/transition'
	import NotificationProvider from './NotificationProvider.svelte'
	import Smurfs from './Smurfs.svelte'
</script>

<NotificationProvider>

	<div in:fly={{ x: 500 }} slot="notification" class="notification" let:hide let:payload>
		<button on:click={hide}>&times;</button>
		<span>{payload}</span>
	</div>

	<Smurfs />
	
</NotificationProvider>
```