```svelte
<script>
	import { getContext } from 'svelte'
	import { smurfs } from '../../data.json'
    
	const show = getContext('notification-show')
</script>

<div>
	{#each smurfs as smurf}		
		<div class="image" on:click="{() => show(smurf.notification)}">
			<img src="{smurf.image}" alt="">
		</div>
	{/each}
</div>
```