
```svelte
<script>
    import { slide } from 'svelte/transition'
	import Accordeon from './Accordeon.svelte'
	import data from '../../data.json'
</script>

{#each data as { name, image }}
    <Accordeon header="{name}">

        <div in:slide out:slide>
            <img src="{image}" alt="{name}">
            <div>
                <h3>{name}</h3>
				<p>{description}</p>
            </div>	
        </div>

    </Accordeon>
{/each}
```