* {
	box-sizing: border-box;
	color: inherit;
	font-family: 'Montserrat', sans-serif;
	font-size: inherit;
	margin: 0;
	padding: 0;
}

body {
    background: hsl(0, 0%, 80%);
	display: flex;
	flex-direction: column;
	font-size: 32px;
	min-height: 100vh;
	overflow-y: scroll;
}

pre {
	background: white;
	border-left: 2px solid hsl(var(--hue), 100%, 30%);
	border-radius: .25em;
	color: black;
	font-family: 'Operator Mono', 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-weight: 400;
	hyphens: none;
	letter-spacing: 0.5px;
	line-height: 25px;
	padding: 1rem;
	tab-size: 4;
	text-align: left;
	white-space: pre;
	word-break: normal;
	word-spacing: normal;
}

ul {
	font-size: 1.25em;
	list-style-type: square;
	text-align: left;
}

.contact-link {
	align-items: flex-end;
	display: flex;
    justify-content: center;
}
.contact-link > svg {
	fill: currentColor;	
	margin-right: 1ch;
}