---
    centered: true
---

# C'est un peu inutile non ?

```svelte
<script>
    <!-- ici des scripts commun pour ce type de composant -->
</script>

<slot></slot>
```

Logique réutilisable indépendante du style.
