<script>
    import CodeTabs from '../components/CodeTabs.svelte'
    import Example from '../examples/05/Example.svelte'
    import AccordeonCode from '../examples/05/Accordeon.svx'
    import ExampleCode from '../examples/05/Example.svx'

    const items = [
        { label: "L'accordéon", code: AccordeonCode },
        { label: "l'exemple", code: ExampleCode }
    ]
</script>

<Example />

<CodeTabs {items} />
