<script>
    import CodeTabs from '../components/CodeTabs.svelte'
    import Example from '../examples/07/Example.svelte'
    import AccordeonCode from '../examples/06/Accordeon.svx'
    import ExampleCode from '../examples/06/Example.svx'

    const items = [
        { label: "L'accordéon", code: AccordeonCode },
        { label: "L'example", code: ExampleCode }
    ]
</script>

# La même chose mais 'renderless'
<br/>
<Example />

<CodeTabs {items} />
