<script>
    import Smurfs from '../examples/07/Smurfs.svelte'
    import NotSmurfs from '../examples/07/NotSmurfs.svelte'
</script>

# Différenciation

Les deux cas suivants utilisent le même accordéon de base, mais sont différents de style.
<br/>
<Smurfs />
<NotSmurfs />

