<script>
    import CodeTabs from '../components/CodeTabs.svelte'

	import ExampleCode from '../examples/12/Example.svx'
	import SmurfCode from '../examples/12/Smurfs.svx'
	import NotificationCode from '../examples/12/Notification.svx'

	const items = [
		{ label: 'Les notifications', code: NotificationCode },
		{ label: 'Les Schtroumpfs', code: SmurfCode },
		{ label: 'La reste', code: ExampleCode },
	]
</script>

# En utilisant le 'context module'

<CodeTabs {items} />
