---
    centered: true
---

- Le <strong>ContextAPI</strong> permis de diffuser de fonctions et variable aux descendants
- Utilisez des stores dans le ContextAPI pour avoir du reactivité
- <strong>context="module"</strong> est partagée parmis tous les instance
