---
    centered: true
---

- Le <strong>ContextAPI</strong> parmis de diffuser de fonctions et variable aux descendants
- Utilisez des stores dans le ContextAPI pour avoir du reactivité
- <strong>context="module"</strong> est partagée parmis tous les instance
- Le composant n'est pas obligée d'être monté au même endroit que ton <strong>App.svelte</strong>
