---
    centered: true
---

# [www.renderless-svelte.dev](http://www.renderless-svelte.dev)
# [@StephaneVanraes](https://twitter.com/StephaneVanraes)

# 'Rainlife' sur le Discord Svelte 👋

[https://stephane-vanraes.github.io/rs-presentation-fr/](https://stephane-vanraes.github.io/rs-presentation-fr/)
